body {
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #0a192f;
  overflow: hidden;
}

.modal {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: left;
}

h2 {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

.back-button {
  display: block;
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #4caf50;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: 0.3s, transform 0.3s;
  text-align: center;
}

.back-button:hover {
  background: #45a049;
}

.back-button:active {
  transform: scale(0.9);
}
